<%= erb :header, :locals => {'title' => 'Whoops!'} %>
<body>
Oh dear, looks like something broke. Here's what I can tell you:<br/>
<% if exception != nil %>
    <p><%= exception.message %></p>
<% else %>
    <p>No error passed in.</p>
<% end %>

<p>I was trying to access <u><%= url %></u>. If you know who is running this server,
maybe you want to let them know? If you think there's a bug in the software, you can
harass the original maintainer
<a href="https://github.com/patrickyeon/rss-rerun">on github</a>.</p>
<%= erb :footer %>
