<hr/>
This site served up using <a href="http://ruby-lang.org">Ruby</a>,
<a href="http://sinatrarb.com">Sinatra</a>, and
<a href="https://github.com/patrickyeon/rss-rerun">rss-rerun</a>. Generated on
<%= DateTime.now.strftime %>.
</body>
</html>
