<%= erb :header, :locals => {'title' => 'Casting...'} %>
<h2>Request Noted!</h2>

<p>Thanks for your recommendation, it has been noted! Where the magic gets applied
is pretty arbitrary and is a manual process at the moment, but we'll be sure to
notify you once it happens. Again, unless you specifically asked for more updates,
we won't bother you about anything else.</p>

<%= erb :footer %>
